BuildLocal.rogue
/Plasmacore

# Vim
*.swp
*.local

# Android
**/src/main/assets

Test
**/Local.settings
**/Build/
.rogo

# Merge/Patch/etc.
*.orig
*.rej
*.diff
*.patch

# Mac
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
