# Rogo Build
/Build
BuildLocal.rogue
.rogo
Local.settings

# Vim
*.swp
*.swo

# Android
**/src/main/assets

# Mac
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

